apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: portfolio-kustomization
  annotations:
    description: "Kustomization for Kapil Jatav Portfolio Application"

namespace: portfolio

commonLabels:
  app: portfolio
  owner: kapil-jatav
  environment: production

resources:
  - namespace.yml
  - serviceaccount.yml
  - configmap.yml
  - secret.yml
  - deployment.yml
  - service.yml
  - clusterIP_service.yml
  - ingress.yml
  - hpa.yml
  - pdb.yml
  - networkpolicy.yml

images:
  - name: portfolio-app
    newTag: latest

replicas:
  - name: portfolio-deployment
    count: 3

patchesStrategicMerge:
  - |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: portfolio-deployment
    spec:
      template:
        spec:
          serviceAccountName: portfolio-serviceaccount